#form{
    height: 220px;
    width: 400px;
    /* border: 1px solid black; */
    margin: auto;
}

input[type="text"],[type="email"],[type="number"],[type="password"]
{
    width: 92%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid teal;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-weight: 700;
}

#submit{
    width: 99%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
    /* border: 1px solid teal; */
    /* border-radius: 5px; */
    background-color: aqua;
}